<article itemscope itemtype="http://schema.org/BlogPosting"
  role="article" class="post-item {{post_class}}">
  <div class="img" style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}/images/banners/hero.jpg{{/if}})"></div>
  <div class="head post-item-title" itemprop="name">
    <div class="dated" datetime-"{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished"><span class="m">{{date published_at format="MMM"}}</span><span class="d">{{date published_at format="DD"}}<span></div>
    <h2><a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</a></h2>
  </div>
  <div class="intro post-item-excerpt" itemprop="description">{{excerpt words="35"}}&hellip;</div>

  <div class="foot post-item-footer">
    <div class="author"><img src="{{#if author.profile_image}}{{author.profile_image}}{{else}}/images/default-avatar.jpg{{/if}}">
      <p>Posted by:<span>{{author.name}}</span></p>
    </div>
    <a href="{{url}}">Read More &rarr;</a>
  </div>
</article>
