{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
      <div class="main-container">
        <div class="main">
          <h2 class="title-details post-title" style="text-align: center; padding-top: 1.5em; padding-bottom: 0.5em; font-size: 2em;">
            <a href="{{url}}">{{{title}}}</a>
          </h2>
        </div>
      </div>
    </header>
    <section class="post-excerpt">
      <div class="main">
        <p>{{excerpt words="52"}}&hellip;
        <a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">read more</a>
      </div>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
